name: CI
on: pull_request
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  test:
    name: Test -- tox
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Python
        uses: actions/setup-python@v6
      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          prune-cache: false
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Node.js npm cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.npm
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('.nvmrc', 'package.json', 'package-lock.json') }}
      - name: Run tests
        env:
          RUFF_OUTPUT_FORMAT: github
          TOX_OVERRIDE: "testenv.pass_env=RUFF_OUTPUT_FORMAT"
        run: |
          echo "::add-matcher::.github/workflows/matchers/ruff.json"
          uv run --frozen --group testing --no-dev tox
